@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-slow {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.select-input {
  color: transparent;
}
