.git
.dockerignore
.gitignore
.prettierignore
.prettierrc.json
.venv
backend/staticfiles
node_moduels
frontend/dist
frontend/coverage
nginx
documentation

**/.log
**/db.sqlite3
**/db.sqlite3-journal
**/.DS_Store
