# Enables useful Django debug pages on error. Set this to False for production!
DEBUG=True
# Generate a secure key for production.
SECRET_KEY="django-insecure-ep*!1h*9o8wd936&ys3qws35j3f1at@ncqfdld@)i25!kp77-l"
# Setting to send verification emails or not
SEND_VERIFICATION_EMAIL=False
# Gmail API keys
CLIENT_ID="WRONG_CLIENT_ID"
CLIENT_SECRET="WRONG_CLIENT_SECRET"
PROJECT_ID="WRONG_PROJECT_ID"
# Space separated allowed hosts. e.g. "mywebsite.com subdomain.mywebsite.com mywebsite.co.uk"
ALLOWED_HOSTS="*"
# Force Django to serve static files in production. This should be used for debugging only. Set this to False for production!
FORCE_SERVE_STATIC=True
# Make Django use a PostgreSQL database. Set this to True for production!
USE_POSTGRES_DB=False
# Settings used to connect to the postgres database
POSTGRES_NAME="exechange"
POSTGRES_HOST=0.0.0.0
POSTGRES_PORT=5432
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="mysecretpassword"