{% load render_vite_bundle %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/favicon-32.png" sizes="32x32" />
    <link rel="icon" href="/static/favicon-128.png" sizes="128x128" />
    <link rel="icon" href="/static/favicon-192.png" sizes="192x192" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="shortcut icon" sizes="192x192" href="/static/favicon-192.png" />
    <link
      rel="apple-touch-icon"
      href="/static/favicon-180.png"
      sizes="180x180"
    />
    <title>ExeChange</title>

    {% if debug %}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module">
      import RefreshRuntime from "http://localhost:5173/@react-refresh";
      if (RefreshRuntime) {
        RefreshRuntime.injectIntoGlobalHook(window);
        window.$RefreshReg$ = () => {};
        window.$RefreshSig$ = () => (type) => type;
        window.__vite_plugin_react_preamble_installed__ = true;
      }
    </script>
    {% endif %}
  </head>

  <body>
    <div id="root"></div>

    {% if debug %}
    <script type="module" src="http://localhost:5173/main.tsx"></script>
    {% else %} {% render_vite_bundle %} {% endif %}
  </body>
</html>
